{% load static %}

{% comment %} nav2 {% endcomment %}
<nav class="flex flex-wrap items-center justify-between w-full py-4 md:py-0 px-4 text-lg text-white bg-gray-800">
        <div>
          <a href="">
            <div class="flex flex-shrink-0 items-center">
              <img class="block h-8 w-auto lg:hidden" src="{% static 'logo11.png'%}" alt="HUNTDESTINATIONBG">
              <img class="hidden h-8 w-auto lg:block" src="{% static 'logo11.png'%}" alt="HUNTDESTINATIONBG">
              <a href="" class=" text-white m-2 px-3 py-2 rounded-md text-sm font-medium" aria-current="page">HUNTDESTINATIONBG</a>

            </div>
            
          </a>
        </div>
       
        <svg xmlns="http://www.w3.org/2000/svg" id="menu-button" class="h-6 w-6 cursor-pointer md:hidden block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
        </svg>
       
        <div class="hidden w-full md:flex md:items-center md:w-auto" id="menu">
          <ul
            class="pt-4 text-2xl text-white font-bold md:flex md:justify-between md:pt-0">
            <li>
              <a class="md:p-4 py-2 block hover:text-purple-400"  href="">Лов в България</a>
            </li>
            <li>
              <a class="md:p-4 py-2 block hover:text-purple-400" href="">Ловни стопанства</a>
            </li>
            <li>
              <a class="md:p-4 py-2 block hover:text-purple-400" href="">Дивеч</a>
            </li>
            <li>
              <a class="md:p-4 py-2 block hover:text-purple-400" href="">Карта</a>
            </li>
            
          </ul>
        </div>
</nav>


